# dhcpd.conf
#
option domain-name "<%= @domain %>";
# todo: when puppet and dns servers are installed they need 
#       external dns server, because there are no local yet.
#       but when they are become operational, all clients should use
#       local DNS server. 
#       need to investigate how its possible to remove google DNS 
#       server address after local DNS became alive.
option domain-name-servers <%= @dns['address'] %>, 8.8.8.8;

default-lease-time 600;
max-lease-time 7200;

authoritative;

<% if !@dns['ddns'].nil? -%>
include "/etc/dhcp/ddns.key";

ddns-updates    on;
ddns-update-style   interim;
ignore  client-updates;
update-static-leases    on;
update-optimization false;

zone <%= @dns['zone'] %>. {
  primary <%= @dns['address'] %>;
  key DDNS_UPDATE;
}

zone <%= @dns['reverse'] %>.in-addr.arpa. {
  primary <%= @dns['address'] %>;
  key DDNS_UPDATE;
}
<% end -%>

<% @networks.each do |network, value| -%>
<% if !value['static'].nil? -%>
# Filter to assign IP address by hostname (option 12)
<% value['static'].each do |host, value| -%>
class "<%= host %>_static" {
    match if (option host-name="<%= host %>");
}
<% end -%>
<% end -%>

shared-network <%= network %> {
    subnet <%= value['subnet'] %> netmask <%= value['netmask'] %> {        
        option routers <%= value['gw'] %>;
    }

<% if !value['static'].nil? -%>
<% value['static'].each do |host, value| -%>
    pool {
        range <%= value %> <%= value %>;
        allow members of "<%= host %>_static";
    }
<% end -%>
<% end -%>
    
    pool {
        range <%= value['start'] %> <%= value['end'] %>;
<% if !value['static'].nil? -%>
<% value['static'].each do |host, value| -%>
        deny members of "<%= host %>_static";
<% end -%>
<% end -%>
    }
}
<% end -%>
