<filter name='<%= @filter %>' chain='root'>
  <uuid><%= @uuid %></uuid>  
<% @firewall.each do |rule, value| -%>
  <rule action='accept' direction='in'>    
    <<%= value['protocol'] %> match='yes' srcipfrom='<%= scope.call_function('netrange', value['source'])['min_addr'] %>' srcipto='<%= scope.call_function('netrange', value['source'])['max_addr'] %>' dstportstart='<%= value['port'] %>' />
  </rule>     
<% end -%>  
  <rule action='accept' direction='inout'>
    <icmp/>
  </rule>
  <rule action='accept' direction='out'>
    <all state='ESTABLISHED,RELATED'/>
  </rule>
  <rule action='drop' direction='in'>
    <all/>
  </rule>
</filter>
