$TTL    3600
@       IN      SOA     <%= @server %>.<%= @zone %>. admin.<%= @server %>.<%= @zone %>. (
                              4         ; Serial
                           3600         ; Refresh
                            600         ; Retry
                         604800         ; Expire
                           1800 )       ; Negative Cache TTL

; name servers
    IN      NS      <%= @server %>.<%= @zone %>.
;    IN      NS      dns-server.east.    


; PTR records
220.30    IN    PTR     <%= @server %>.<%= @zone %>.      ; <%= @address %>

