$TTL    3600
@       IN      SOA     <%= @server %>.<%= @zone %>. admin.<%= @server %>.<%= @zone %>. (
                  4     ; Serial
               3600     ; Refresh
                600     ; Retry
             604800     ; Expire
               1800 )   ; Minimum TTL
;
; name servers - NS records
     IN      NS      <%= @server %>.<%= @zone %>.
;     IN      NS      dns-server.east.


; name servers - A records
<%= @server %>.<%= @zone %>.          IN      A       <%= @address %>
