acl trusted {
    <%= @network %>;
};

options {
    directory "/var/cache/bind";
    
    dnssec-validation auto;

    allow-query { 127.0.0.1; <%= @network %>; };
    recursion yes;                
    allow-recursion { trusted; }; 
    listen-on { 127.0.0.1; <%= @address %>; }; 
    allow-transfer { none; };   

    forwarders {
        8.8.8.8;
        8.8.4.4;
    };

};